{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "browsers": "defaults"
        }
      }]
    ],
    "plugins": [
      "@babel/plugin-transform-react-jsx"
    ]
  }
  